body {
    font-family: 'Pokemon', sans-serif;
    background: url('sprites/background.jpg') no-repeat center center fixed;
    text-align: center;
}

.logo {
    width: 200px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
